@import 'variables';

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 100vh;
  width: 100%;
}

nav {
  // Example of using a variable:
  background-color: $secondary-accent-color;
}

.dog-icon {
  width: 50px;
}